%common-buttons {
  border: none;
  background: transparent;
  color: $btn-color;
  margin: 0 8px;
  outline: none;
  cursor: pointer;
}

.buttons {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  #random,
  #backward,
  #play,
  #forward,
  #volume,
  #repeat,
  #volumeUp,
  #volumeDown {
    @extend %common-buttons;
  }
  .volume-up-down {
    height: 5px;
    width: 45%;
    background-color: $progress-bar-color;
    border-radius: 15px;
    #fillVolume {
      background-color: $fill-color;
      width: 0%;
      height: 4px;
      border-radius: 15px;
    }
  }
}

.active-btn {
  color: $active-btn-color;
}
