%common-buttons {
  border: none;
  background: transparent;
  color: $btn-color;
  margin: 0 8px;
  outline: none;
  cursor: pointer;
}

.buttons {
  box-sizing: border-box;
  padding: 15px;
  #random,
  #backward,
  #play,
  #forward,
  #volumeUp {
    @extend %common-buttons;
  }
}

.active-btn {
  color: $active-btn-color;
}
