@font-face {
  font-family: "icomoon";
  src: url("./icomoon.eot?hcuc4y");
  src: url("./icomoon.eot?hcuc4y#iefix") format("embedded-opentype"),
    url("./icomoon.ttf?hcuc4y") format("truetype"),
    url("./icomoon.woff?hcuc4y") format("woff"),
    url("./icomoon.svg?hcuc4y#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus-circle-solid:before {
  content: "\e900";
}
.icon-plus-circle-solid:before {
  content: "\e901";
}
.icon-redo-solid:before {
  content: "\e902";
}
.icon-backward-solid:before {
  content: "\e903";
}
.icon-forward-solid:before {
  content: "\e904";
}
.icon-random-solid:before {
  content: "\e905";
}
.icon-pause-solid:before {
  content: "\e906";
}
.icon-play-solid:before {
  content: "\e907";
}
.icon-volume-mute-solid:before {
  content: "\e908";
}
.icon-volume-up-solid:before {
  content: "\e909";
}
